# .dockerignore should be in the same folder as Dockerfile, check the https://github.com/docker/cli/issues/1308

### ignore git folder and gitignore ###
.git
.gitignore

### ignore the project src ###
.circleci
docs/*.pdf
.scalafmt.conf
README.md

### Docker ###
Dockerfile
docker-compose.yml

### Intellij ###
.idea

### SBT ###
dist
target
lib_managed
src_managed
.history
.cache
.lib
project/project
project/target
